/*
#FEFFDE
#DDFFBC
#91C788
#52734D
*/
body {
    margin: 0px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: 'Merriweather', serif;
    background-color: #FEFFDE
}

h1 {
    font-size: 5.625rem; /* 90px / 16px */
    margin: 40px auto 0px auto;
    font-family: 'Sacramento', cursive;
    color: #91C788;
    line-height: 2;
}

h2 {
    font-size: 2.5rem;    /* 40px / 16px */
    margin: 0px auto 20px auto;
    font-family: 'Montserrat', sans-serif;
    color: #91C788;
    font-weight: normal;
}

h3 {
    font-size: 1.5rem;    /* 40px / 16px */
    font-family: 'Montserrat', sans-serif;
    margin: 10px auto 20px auto;
    color: #52734D;
}


.top-container {
    margin-top: 0px;
    padding-top: 40px;
    background: #DDFFBC;
    position: relative;
}

.profile {
    margin-top: 20px;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    line-height: 2;
    text-align: left;
}

.top-cloud {
    position: absolute;
    right: 700px;
}

.bottom-cloud {
    position: absolute;
    left: 700px;
}

.credits-container {
    text-align: left;
    margin-top: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    background: #9BF4D5;
}

.selfie-pic {
    width: 20%;
    height: auto;
    border-radius: 50%;
}

.ai-pic {
    width: 20%;
    height: auto;
    scale: 10%;
    float: left;
    padding-right: 2rem;
}

.software-pic {
    width: 20%;
    height: auto;
    border-radius: 50%;
    float: right;
    padding-left: 2rem;
}

.horizontal-rule {
    width: 5%;
    border-width: 0.5rem;
    border-style: dotted;
    border-top: 0;
    border-color: grey;
    margin: 2rem auto 2rem auto;
}

.bottom-container {
    background-color: #91C788;
    padding: 3rem;
}

.btn {
    background-image: linear-gradient(#91C788, #52734D);
    padding: 0.5em;
    margin: 1.5em auto 1.5em auto;
    width: 20%;
    text-decoration: none;
    display: block;
    border-radius: 20px;
    font-size: 1.5em;
}

.btn:link {
    color: #FEFFDE;
}

.footer-link {
    font-size: 1.5em;
    text-decoration: none;
    padding: 2em 1.5em 3em 1.5em;
}

a:link {
    color: #52734D;
}

.footer-link:link {
    color: #52734D;
}

.footer-link:visited {
    color: #52734D;
}

.copyright {
    padding: 2em 2em 0.5em 2em;
    color: #FEFFDE;
}