/*
#FEFFDE
#DDFFBC
#91C788
#52734D
*/
body {
    margin: 0px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: 'Merriweather', serif;
    background-color: #FEFFDE
}

h1 {
    font-size: 5.625rem; /* 90px / 16px */
    margin: 40px auto 0px auto;
    font-family: 'Sacramento', cursive;
    color: #91C788;
}

h2 {
    font-size: 2.5rem;    /* 40px / 16px */
    margin: 0px auto 20px auto;
    font-family: 'Montserrat', sans-serif;
    color: #91C788;
}

h3 {
    font-size: 1.5rem;    /* 40px / 16px */
    font-family: 'Montserrat', sans-serif;
    margin: 10px auto 20px auto;
    color: #52734D;
}

a:link {
    color: #52734D;
}

.top-container {
    margin-top: 0px;
    padding-top: 40px;
    background: #DDFFBC;

    position: relative;
}

.profile {
    margin-top: 20px;
}

.middle-container {
}

.bottom-container {
}

.top-cloud {
    position: absolute;
    right: 700px;
}

.bottom-cloud {
    position: absolute;
    left: 700px;
}

.credits-container {
    text-align: left;
    margin-top: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    background: #9BF4D5;
}

.selfie-pic {
    width: 200px;
    height: auto;
    border-radius: 50%;
}

.ai-pic {
    width: 200px;
    height: auto;
    scale: 10%;
}

.software-pic {
    width: 200px;
    height: auto;
    border-radius: 50%;
}